:root {
    --orange-color: #FF823C;
    --black-color: #1e1e1e;
    --black-color1: #000;
    --white-color: #f1f1f1;
    --wrong-color: #FD4F42;
    --warning-color: #FB9D24;
    --check-color: #2AB93B;
    --font-antic: 'Antic Slab', serif;
    --font-anton: 'Anton', sans-serif;
    --font-antonio: 'Antonio', sans-serif;
;
}


header {
    max-width: 100%;
}

.container {
    display: flex;
    max-width: 1440px;
    height: 3rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--white-color);
    font-family: var(--font-antonio);
    font-size: 0.6rem;
    padding-inline: 2rem;
}

.container h1 {
    font-size: 1.4rem;
}

ul {
    display: flex;
    gap: 0.8rem;
    color: var(--white-color);
    font-size: 1rem;
}

li {
    /*border: 1px solid wheat;*/
    border-radius: 50px;
    position: relative;
    width: 4rem;
    padding: .4rem;
    cursor: pointer;
    transition: .2s all ease-in;
    font-family: var(--font-antic);
}

nav ul li:hover::before {
    visibility: visible;
    width: 100%;
}

nav ul li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -3px;
    left: 0;
    margin: 0 auto;
    background-color: var(--orange-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

nav ul li:hover {
    color: var(--black-color);
}

main {
    width: 100%;
    height: auto;
}

.home {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.screen {
    width: 100%;
    height: 70px;
    background-color: var(--white-color);
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 4px 4px 0 var(--black-color1);
    border: 2px solid var(--black-color1);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.hi p {
    font-family: var(--font-antonio);
    font-weight: bold;
    align-items: center;
    text-align: start;
    font-size: 1.5rem;
}

.elements {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    font-family: var(--font-anton);
    flex-wrap: wrap;
    gap: 30px;
}

.global {
    display: flex;
    max-width: 70%;
    flex-direction: column;
    align-items: center;
}

section.home .elements .text {
    background-color: var(--white-color);
    max-width: 100%;
    box-shadow: 6px 6px 0 var(--black-color1);
    border: 3px solid var(--black-color1);
    border-radius: 10px;
    padding: 1rem;
}

section.home .elements .text h1 {
    font-size: 3rem;
}

section.home .elements .text p {
    font-size: 2rem;
}

section.home .elements .photo {
    background-color: var(--white-color);
    box-shadow: 6px 6px 0 var(--black-color1);
    border: 3px solid var(--black-color1);
    width: 300px;
    height: 300px;
    border-radius: 1000px;
}

.social {
    width: 100%;
    height: 60px;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

.social li {
    font-size: 2rem;
}

.social li:hover::before {
    visibility: visible;
    width: 100%;
}

.social li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -3px;
    left: 0;
    margin: 0 auto;
    background-color: var(--black-color1);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.social li:hover {
    color: var(--black-color1);
}

.bi-linkedin,
.bi-github,
.bi-envelope-fill,
.bi-file-earmark-person-fill {
    color: var(--black-color1);
}
