
:root {
  --orange-color: #FF823C;
  --black-color: #1e1e1e;
  --black-color1: #000;
  --white-color: #f1f1f1;
  --wrong-color: #FD4F42;
  --warning-color: #FB9D24;
  --check-color: #2AB93B;
  --font-antic: 'Antic Slab', serif;
  --font-anton: 'Anton', sans-serif;
  --font-antonio: 'Antonio', sans-serif;
;
}

.previous {
  width: 100%;
  margin-top: 5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.previous-btn {
  background-color: var(--white-color);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 4rem;
  box-shadow: 4px 4px 0 var(--black-color1);
  border: 3px solid var(--black-color1);
  transition: all .2s;
}
.previous-btn:hover {
  background-color: var(--black-color1);
  color: var(--white-color);
  box-shadow: none;
  border: none;
  transform: scale(1.05);
  transform: translateX(1px) translateY(1px);
}
.next {
  width: 100%;
  margin-top: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.next-btn {
  background-color: var(--white-color);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 4rem;
  box-shadow: 4px 4px 0 var(--black-color1);
  border: 3px solid var(--black-color1);
  transition: all .2s;
}
.next-btn:hover {
  background-color: var(--black-color1);
  color: var(--white-color);
  box-shadow: none;
  border: none;
  transform: scale(1.05);
  transform: translateX(1px) translateY(1px);
}

.next-link,
.previous-link {
    width: 100%;
    height: 40px;
    align-items: center;
    text-align: center;
    margin: auto;
    color: var(--black-color1);
}

.next-link:hover,
.previous-link:hover {
    color: var(--white-color);
}

.next-btn-home {
  background-color: var(--white-color);
  width: 5rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 4rem;
  box-shadow: 4px 4px 0 var(--black-color1);
  border: 3px solid var(--black-color1);
  transition: all .2s;
}

.next-btn-home a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  font-family: var(--font-antonio);
}

.next-btn-home:hover {
  background-color: var(--black-color1);

}
